<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerIPAddress" value="127.0.0.1"/>
    <add key="ServerPort" value="5000"/>
    <add key="AdminName" value="admin"/>
    <add key="AdminPassword" value="password123"/>
    <add key="RabbitMQServerIP" value="127.0.0.1"/>
    <add key="RabbitMQServerPort" value="5672"/>
    <add key="LogsQueueName" value="ServerLogs"/>
  </appSettings>
</configuration>